@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    list-style: none !important;
    text-decoration: none !important;
}

body {
    background-color: black;
}

.navbar {
    padding: 20px 25px;
}

.logo-name {
    padding: 0;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: white;
}

.version{
    margin-inline-start: 5px;
    font-size: 12px;
    color: #dd1e4b;
    font-style: initial;
    font-weight: bold;
}

.contact-btn{
    padding: 10px 25px;
    border: 2px solid #dd1e4b;
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
}

.contact-btn i{
    margin-inline-end: 10px;
}

.menu{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}